* {
    padding: 0;
}
header {
    height: 95px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 35px auto;
    z-index: 2
}
header .logo {
    display: inline-block;
    width: 230px;
    padding-top: 15px;
}
header .logo img{
    width: 100%;
}
header #menu {
    float: right;
    display: inline-block;
}   
header #menu li {
    display: block;
    float: left;
    text-align: center;
    text-transform: uppercase;
}
header #menu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-decoration: none;
}
header #menu ul {
    font-size: 14px;
    list-style: none;
}   
header, 
header nav {
    display: block;
}
header #menu #nav-mobile{
    background: url(../imagenes/nav.png) no-repeat center center;
    display: none;
    float: right;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 80px;
    border-radius: 5px;
    background-color: #bf150f;
}   
header #menu #nav-mobile.nav-active{
    opacity:0.7;
}

/* MENU */
@media only screen and (max-width: 925px) {
        
    
    header #menu {
        float: none;
        padding-top: 25px;
        width: 100%;
    }
    header #menu li {
        background: #bf150f;
        border-bottom: 1px solid #740f0b;
        color: white;
        float: none;
        height: 40px;
        line-height: 40px;
    } 
    header #menu li a {
        color: white;
        line-height: 30px;
    }
    header #menu li a:hover {
        color: #ffed00;
        line-height: 30px;
    }
    header #menu li:last-child { 
        border-bottom: 0;
    }
    header #menu #nav-mobile { 
        display: block;
    }
    header #menu ul {
        box-shadow: 0 1px 2px rgba(0,0,0,.5);
        max-height: 0;
        overflow: hidden;
    }            
    header #menu ul.open-menu{
        margin-top: -20px;
        max-height: 400px;
        -webkit-transition: max-height .5s;
        -moz-transition: max-height .5s;
        -ms-transition: max-height .5s;
        -o-transition: max-height .5s;
        transition: max-height .5s;
        position: relative;
        z-index: 200;
    }
    
}
/* fin menu */